<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- Request files access permission -->
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"
            tools:ignore="ScopedStorage"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.BLinKAnime"
            tools:targetApi="31">
        <activity
                android:name=".seasonalanime.SeasonalAnimeActivity"
                android:exported="false"/>
        <activity
                android:name=".topanimes.TopAnimeActivity"
                android:exported="false"/>
        <activity
                android:name=".episodecomments.EpisodeCommentsActivity"
                android:exported="false"
                android:label="@string/title_activity_episode_comments"
                android:theme="@style/Theme.BLinKAnime"/>
        <activity
                android:name=".animeRecommendationActivity.AnimeRecommendation"
                android:exported="false"
                android:label="@string/title_activity_anime_recommendation"
                android:theme="@style/Theme.BLinKAnime"/>
        <activity
                android:name=".animelist.AnimeListActivity"
                android:exported="false"
                android:label="@string/title_activity_anime_list"
                android:theme="@style/Theme.BLinKAnime"/>
        <activity
                android:name=".mainFragment.detailsActivity.DetailsActivity"
                android:exported="false"
                android:label="@string/title_activity_details"
                android:theme="@style/Theme.BLinKAnime"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.BLinKAnime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name=".widgets.LatestEpisodesWidget"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/stackwidgetinfo"/>
        </receiver>

        <service
                android:name=".widgets.StackWidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>